@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: sans-serif;
    background: linear-gradient(-45deg, rgb(13, 72, 96) 30%, rgb(2, 6, 24) 70%);
    animation: transitionIn 0.5s;
    margin: 0;
    overflow-y: auto;
}

.navbar {
    display: flex;
    gap: 1.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 2;
    z-index: 1000;
}


.navlist {
    display: flex;
    gap: 3.5rem;
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 3.5rem;
    list-style: none;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}

.nav-item a::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 0.1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s;
}

.nav-item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

body {
    color: #fff;
    background: linear-gradient(-45deg, rgb(13, 72, 96) 30%, rgb(2, 6, 24) 70%);
}

.sub-title-container {
    padding-top: 95px;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 0;
}

.sub-title span {
    color: rgb(16, 156, 211);
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 100%;
    max-width: 600px;
    height: 500px;
    padding: 0;
    margin: 0 auto;
    background: url(image/background.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 5px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: #0ef;
}

.content {
    display: flex;
    flex-wrap: nowrap;
}

.technical-bars {
    flex: 1;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 1;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line {
    position: relative;
    background-color: #333;
    height: 8px;
    border-radius: 50px;
    overflow: hidden;
}
.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: rgb(16, 156, 211);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

.progress-line.html span {
    width: 75%;
}

.progress-line.css span {
    width: 75%;
}

.progress-line.javascript span {
    width: 40%;
}

.progress-line.python span {
    width: 40%;
}

.progress-line.database span {
    width: 60%;
}

.progress-line span:after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "75%";
}

.progress-line.css span::after {
    content: "75%";
}

.progress-line.javascript span::after {
    content: "40%";
}

.progress-line.python span::after {
    content: "40%";
}

.progress-line.database span::after {
    content: "60%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    justify-items: center;
    align-items: center;
}

.radial-bar {
    width: 100px;
    height: 100px;
    margin: 0 5px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 120px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 0.5s 0.4s linear forwards;
}

.path-2 {
    animation: animate-path2 0.5s 0.4s linear forwards;
}

.path-3 {
    animation: animate-path3 0.5s 0.4s linear forwards;
}

.path-4 {
    animation: animate-path4 0.5s 0.4s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 250;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 300;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .navbar {
        height: auto;
        padding: 1rem 0;
        top: 0;
        justify-content: center;
        align-items: center;
    }

    .sub-title-container {
        justify-content: center;
        align-items: center;
    }
    .container1 {
        padding-top: 60px; 
    }

    .navlist {
        flex-direction: row;
        gap: 1rem;
    }

    .nav-list {
        gap: 2rem;
    }

    .container1 {
        width: calc(100% - 20px);
        margin: 0 auto;
        padding-top: 60px;
    }
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateY(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}